include:
  - salt

salt{{salt_role}}-config:
  file.managed:
    - name: /etc/salt/{{salt_role}}
    - source: salt://salt/conf/{{salt_role}}-base
    - require:
      - pip: salt

{% if grains['osfullname'] == "Ubuntu" %}
salt{{salt_role}}-init:
  file.symlink:
    - name: /etc/init.d/salt-{{salt_role}}
    - target: /lib/init/upstart-job
    - require:
      - file: salt-upstart

salt{{salt_role}}-upstart:
  file.managed:
    - name: /etc/init/salt-{{salt_role}}
    - source: salt://salt/script/upstart-script
    - require_in:
      - service: salt-{{salt_role}}
    - require:
      - pip: salt

{% endif %}

salt-{{salt_role}}:
  service.running:
    - enable: True
    - require:
      - file: salt-init


